:root {
    --main-bg-color: linear-gradient(deeppink, purple);
    --header-bg-color: rgba(255, 255, 255, .2);
    --text-color-light: #fff;
    --text-color-dark: #555;
    --bar-bg-color: #555;
    --bar-fill-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    outline: none;
    text-decoration: none;
    font-weight: normal;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--main-bg-color);
    padding: 2rem;
}

header {
    width: 100%;
    max-width: 35rem;
    background: var(--header-bg-color);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
    backdrop-filter: blur(.4rem);
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    margin: 0 auto;
}

header .user {
    padding-top: 2rem;
}

header .user img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 0 1rem rgba(255, 255, 255, .2);
}

header .user .name {
    font-size: 3rem;
    color: var(--text-color-light);
    padding: .5rem 0;
}

header .user .post {
    font-size: 1.8rem;
    color: #eee;
    font-weight: lighter;
}

header .navbar {
    padding: 1rem;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    margin: 1rem 0;
}

header .navbar ul li a {
    display: block;
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--text-color-light);
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    border-radius: 1rem;
    transition: all .2s linear;
}

header .navbar ul li a:hover {
    background-color: rgba(255, 255, 255, .5);
    color: var(--text-color-dark);
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
    backdrop-filter: blur(.4rem);
    border-radius: 2rem;
    overflow: hidden;
    padding: 2rem;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5rem 1rem;
}

.home h3 {
    font-size: 2.5rem;
    color: var(--text-color-light);
}

.home .name span {
    font-size: 3rem;
}

.home .post {
    padding: 1rem 0;
}

.home .post span {
    font-size: 2rem;
}

.btn, .download-btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, .2);
    color: var(--text-color-light);
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
    margin-top: 1rem;
    cursor: pointer;
    transition: all .2s linear;
}

.btn:hover, .download-btn:hover {
    background: rgba(255, 255, 255, .5);
    color: var(--text-color-dark);
}

.home .share {
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.home .share a {
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    padding: 1rem;
    margin: 0 0.5rem;
    color: var(--text-color-light);
    font-size: 2rem;
    border-radius: 1rem;
    transition: all .2s linear;
}

.home .share a:hover {
    background: rgba(255, 255, 255, .5);
    color: var(--text-color-dark);
}

.about {
    padding: 2rem 1rem;
}

.about .content h3 {
    font-size: 2.5rem;
    color: #eee;
}

.about .content h3 span {
    color: var(--text-color-light);
}

.about .content p {
    font-size: 1.5rem;
    color: #eee;
    padding: 1rem 0;
}

.about .skills {
    padding: 1rem 0;
}

.about .skills .progress {
    margin: 1.5rem 0;
    padding: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    background: rgba(255, 255, 255, .2);
    border-radius: 1rem;
}

.about .skills .progress h3 {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    color: var(--text-color-light);
}

.about .skills .progress .bar {
    position: relative;
    width: 100%;
    height: .5rem;
    margin: 1rem 0;
    background: var(--bar-bg-color);
}

.about .skills .progress .bar span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--bar-fill-color);
}

.download-btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
}

.contact {
    padding: 2rem 1rem;
}

.contact .content h1, .contact .content h2 {
    font-size: 1.6rem;
    color: var(--text-color-light);
}

.contact .content div {
    margin-left: 1rem;
}

/* Responsive Design */

@media (max-width: 768px) {
    header, .container, .home, .about, .contact {
        padding: 1rem;
    }
    
   
    .home h3 {
        font-size: 2rem;
    }

    .home .name span {
        font-size: 2.5rem;
    }

    .home .post, .btn, .download-btn {
        font-size: 1.6rem;
    }

    .home .share a {
        font-size: 1.6rem;
        padding: .8rem;
    }

    .about .content h3 {
        font-size: 2rem;
    }

    .about .skills .progress h3 {
        font-size: 1.6rem;
    }

    .contact .content h1, .contact .content h2 {
        font-size: 1.4rem;
    }
}
@media (max-width: 380px) {
    header{
        margin-left:40px;
    }
}
@media (max-width: 330px) {
    header{
        margin-left:0px;
    }
}